launch.application$Boolean=true
rmiPort$Long=8005
app.jiraHome= {{ jira_home_path }}
app.install.service$Boolean=true
# existingInstallationDir=/usr/local/JIRA Software
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ jira_install_path }}
executeLauncherAction$Boolean=true
httpPort$Long=8080
portChoice=default

