executeLauncherAction$Boolean=true
app.install.service$Boolean=true
app.confHome={{confluence_home_path}}
sys.confirmedUpdateInstallationString=false
launch.application$Boolean=true
sys.languageId=en
sys.installationDir={{confluence_install_path}}
