path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
#https://confluence.atlassian.com/bitbucketserverkb/bitbucket-server-code-search-is-unable-to-find-results-from-some-or-all-repositories-858783145.html
action.auto_create_index: "true"
network.host: 0.0.0.0
bootstrap.memory_lock: true
cluster.name: Devops
node.name: {{ansible_hostname}}
discovery.type: single-node
xpack.security.enabled: false
